<!DOCTYPE html>
<html>

<head>

<title>AI Intrusion Detection System</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

<h1>AI Network Intrusion Detection System</h1>

<p>Enter network features to test intrusion detection</p>

<textarea id="features"
placeholder="Enter 41 network features separated by commas"></textarea>

<br>

<button onclick="predict()">Detect Intrusion</button>

<h2 id="result"></h2>

</div>

<script src="/static/script.js"></script>

</body>

</html>